{% extends "base.html" %}
{% load research_extras %}
{% load staticfiles %}

{% block title %}Research{% endblock %}

{% block block_head %}
  <link href="{% static 'research/css/research.css' %}" rel="stylesheet"> 
{% endblock %}

{% block block_nav %}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'home:index' %}">HOME</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link js-scroll-trigger" href="{% url 'research:index' %}">RESEARCH</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'coding:index' %}">CODING</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'photography:index' %}">PHOTOGRAPHY</a>
  </li>
{% endblock %}

{% block block_body %}
  <div class="container">
    <div class="page-header">
      <h2 class="text-primary">IMMUNOLOGY</h2>
    </div>

    <p class="lead">I study T cells, which are foot soldiers of our immune system. My research is helping develop better vaccines and therapeutics that fight infectious diseases and cancers.</p>
    
    <div class="card bg-light">
      <div class="card-header">
        <h4 class="text-primary">PUBLICATIONS</h4>
      </div>
      {% for publication in publications %}
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-md-4 publication-fig">
              <a href="{{ publication.pdf.url }}" target="_blank" class="downloads" data-pubid="{{publication.id}}">
                  <img class="img-fluid" src="{{ publication.figure.url }}" alt="Figure">
              </a>
            </div>
            <div class="col-xs-12 col-md-8">
              <h4 class="">{{ publication.title }}</h4>
              <h5>
                {% get_author_list publication as author_list %}
                {% for author in author_list %}
                  {% if author|is_me %}
                    {% if author|is_last:author_list %}
                      <u><strong>and {{ author }}</strong></u>
                    {% else %}
                      <u><strong>{{ author }},</strong></u>
                    {% endif %}
                  {% else %}
                    {% if author|is_last:author_list %}
                      and {{ author }}
                    {% else %}
                      {{ author }},
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </h5>
              <div>
                <p>{{ publication.journal }}</p>
                <p class="abstract">{{ publication.abstract }}</p>
                <a class="show-more-or-less current-less">...Show more>></a>
              </div>
              <div>
                <span class="pull-right">
                  <a class="btn btn-outline-info downloads" href="{{ publication.pdf.url }}" target="_blank" role="button" data-pubid="{{publication.id}}">Read Full Text</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <br>
    <nav class="text-center">
      <ul class="pagination justify-content-center">
          {% if publications.has_previous %}
              <li class="page-item">
                <a class="page-link" tabindex="-1" href="?page={{ publications.previous_page_number }}">Previous</a>
              </li>
          {% endif %}
          <li class="page-item active">
            <a class="page-link" href="#" tabindex="-1">{{ publications.number }} / {{ publications.paginator.num_pages }}</a>
          </li>
          {% if publications.has_next %}
              <li lass="page-item">
                <a class="page-link" tabindex="-1" href="?page={{ publications.next_page_number }}">Next</a>
              </li>
          {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}

{% block block_footer %}
  <script src="{% static 'research/js/abstract.js' %}"></script> 
  <script src="{% static 'research/js/download_ajax.js' %}"></script>
{% endblock %}  
