.publication: {
    display: table;
}

.publication-col {
    float: none;
    display: table-cell;
}

.publication-fig {
    vertical-align: middle;
}

.abstract {
    line-height: 1.4em;
    height: 4.2em;
    overflow: hidden;
    margin-bottom: 0;
}
