{% extends "base.html" %}
{% load static %}

{% block title %}Coding{% endblock %}

{% block block_nav %}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'home:index' %}">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'research:index' %}">RESEARCH</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active js-scroll-trigger" aria-current="page" href="{% url 'coding:index' %}">CODING</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url 'photography:index' %}">PHOTOGRAPHY</a>
  </li>
{% endblock %}

{% block block_body %}
  <div class="container">
    <div class="page-header">
        <h2 class="text-primary">PROGRAMMING</h2>
    </div>

    <div class="subheading mb-2">Languages &amp; Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-python" title="Python"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-r-project" title="R"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-linux" title="Linux"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-html5" title="HTML"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-css3-alt" title="CSS"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-js" title="JavaScript"></i>
      </li>
    </ul>

    <div class="subheading mb-2">Machine Learning and Deep Learning</div>
    <div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@yuan_tian","postsPerLine":4,"limit":10,"picture":"big","fields":["description","author","claps","publishAt"],"ratio":"landscape"}})</script>

    <div class="subheading mb-2">Bioinformatics</div>
    <ul>
      <li class="lead">
        High-dimensional single-cell data analysis (Single-cell sequencing, CITE-seq, CyTOF)
      </li>
      <li class="lead">
        Bulk RNA-sequencing analysis 
      </li>
      <li class="lead">
        Immune receptor repertoire analysis
      </li>
    </ul>

    <div class="subheading mb-2">Selected Completed Courses</div>
    <ul>
      <li class="lead">
        Deep Learning Specialization (Andrew Ng)
      </li>
      <li class="lead">
        Practical Deep Learning for Coders (Fastai)
      </li>
      <li class="lead">
        Machine Learning (Andrew Ng)
      </li>
      <li class="lead">
        Applied Data Science with Python (University of Michigan)
      </li>
      <li class="lead">
        Algorithms: Design and Analysis (Stanford)
      </li>
      <li class="lead">
        Introduction to Computer Science (MIT)
      </li>
      <li class="lead">
        Mathematics for Computer Science (MIT)
      </li>
    </ul>

    <div class="subheading mb-2">Blog and GitHub</div>
    <div class="social-icons subheading">
      <a href="https://medium.com/@yuan_tian" target="_blank">
        <i class="fab fa-medium-m" title="Blog"></i>
      </a>
      <a href="https://github.com/naity" target="_blank">
        <i class="fab fa-github" title="GitHub"></i>
      </a>
    </div>
    
  </div>
{% endblock %}